body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 10;
  padding: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/bg.png") no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body.light::before {
  background-color: rgba(
    255,
    255,
    255,
    0.764
  ); /* Adjust transparency (0.0 to 1.0) */
}
body.dark::before {
  background-color: rgba(0, 0, 0, 0.673); /* Adjust transparency (0.0 to 1.0) */
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: center;
  max-width: 50%;
  margin: 5% 10% 5% 10%;
  padding: 3%;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 24px;
  color: #4a90e2;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
}
table {
  width: 80%;
  margin-bottom: 10px;
}
table td {
  padding: 5px;
}
table input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-calculate {
  background-color: #4caf50;
  color: #fff;
}
.btn-clear {
  background-color: #ff9800;
  color: #fff;
}
.btn-close {
  background-color: #f44336;
  color: #fff;
}
.output {
  width: 100%;
  margin-top: 10%;
  font-size: 18px;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-bottom: 10%;
  text-align: center;
}
footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
}
footer.light {
  color: white;
}
footer.dark {
  color: black;
}
.image-container {
  position: absolute;
}

.floating-image {
  position: fixed;
  bottom: 5%;
  right: 1%;
  width: 270px; /* Adjust size */
  height: 200px; /* Adjust size */
  border-radius: 10%; /* Optional: Make the image circular */
}
.theme-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}

.theme-button.light {
  background-color: #373737;
}

.container.light {
  background-color: #2b2b2b;
  color: #f0f0f0;
  border: 2px solid #444444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container.dark {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e0e0e0;
}

.output.light {
  color: #ffffff;
  background-color: #2b2b2b;
  border: 2px solid #444444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.output.dark {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}